
@using System.Data.Entity.ModelConfiguration.Conventions
@using DreamwareTZ.Models
@using GridMvc.Html

@*@model List<DreamwareTZ.Classes.User>*@
@model List<object>

@{


    var type = Model.First();

    var MyModel = new List<User>();

    if (type.GetType() == typeof(User))
    {
        MyModel.AddRange(Model.Select(item => item as User));
    }

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    
</div>

<hr />
<div>
    @Html.Grid(@MyModel).AutoGenerateColumns().Columns(column =>
   {
       column.Add().Encoded(false).Sanitized(false)
       .RenderValueAs(c => @Html.ActionLink("Update", null, null, new { @class = "btn btn-warning" }));

       column.Add().Encoded(false).Sanitized(false)
       .RenderValueAs(c => @Html.ActionLink("Delete", null, null, new { @class = "btn btn-danger" }));
   }).WithPaging(3).Selectable(false)
</div>