
@using System.Data.Entity.ModelConfiguration.Conventions
@using DreamwareTZ.Infrastructure
@using DreamwareTZ.Models
@using GridMvc.Html
@using Microsoft.Ajax.Utilities

@model GridForViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TZ</h1>
</div>

<hr />
<div>
    @Html.MyGrid(Model)
</div>